#folders
exp_results/
backup/
datasets/
lab_codes/
plots/
temp/


# Testing code
AFA.m
analyse_infocap.m
main_elm_sym.m
main_ml.m
plots.m
test.m
ipc2_result.csv
ipc5_result.csv

# Other common things to ignore
*.asv